@charset "utf-8";

/* ============스타일 공통속성=============*/
*{ 
    margin: 0 auto; 
}

.mx-auto {
    margin: 0 auto;
}

.py-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.mx-10 {
    margin-left: 10px;
    margin-right: 10px;
}

.my-0 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.my-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.my-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}


.my-50 {
    margin-top: 50px;
    margin-bottom: 50px;
}


.text-center {
    text-align: center;
}


/*===========스타일 초기화==============*/



.logo {
    width: 100px;
    height: 110px;
    display: block;
}


.nav {
    height: 60px;
    line-height: 60px;
}

.bg-nav {
    background-color: #005891;
}

a:link {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #fcff00;
    text-decoration: none;
}

.cf {
    width: 800px;
    height: 500px;
}

.movie-title {
    font-size: 22px;
    color: #555555;

}



.text-upper {
    text-transform: uppercase;

}

.movie-poster {
    width: 600px;
    height: 300px;
    font-size: 0px;
}

.sns {
    font-size: 0px;
}

.bg-sns {
    background-color: #f3f3f3;
}

.divider {
    border:0;
    height: 1px;
    background-color: red;

}

.cs-title {
    font-size: 15px;
    color: #005891;
}

.cs-number {
    font-size: 30px;
    font-weight: bold;
    color: #005891;
}
.cs-number a {
    color: #005891
}

.address-ko { font-size: 13px;

}
.ownership-en { font-size: 11px;

}
.brand { 
    font-style: italic;
}

